.App-name {
  background-color: #dbbc33;
  padding: 1em;
  text-align: center;
  font-size: 1.6em;
  color: #000;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
}
.App-title {
  text-decoration: none;
  color: #000;
}
