.media {
  margin-top: 0;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  background-color: #f5f5f5;
}

.media-body {
  width: 10000px;
}

.media,
.media-body {
  overflow: hidden;
  zoom: 1;
}

.media-left,
.media-body {
  display: table-cell;
  vertical-align: top;
}

.media-left__image {
  width: 200px;
  height: 200px;
}

.yellow {
  color: darkorange;
}

a {
  text-decoration: none;
}

.res_name {
  margin-left: 0.5em;
}

.addr_name {
  margin-left: 0.5em;
  font-weight: 700;
  color: rgb(245, 119, 1);
}

.cui_name {
  margin-left: 0.5em;
  font-weight: 700;
  color: rgb(0, 132, 255);
}

.res_rating {
  border-radius: 4px;
  margin-left: 0.5em;
  font-size: 17px;
  padding: 0.2em;
  color: #fff;
  font-weight: 600;
}
.level-8 {
  background: #3f7e00;
  border-color: #3f7e00 !important;
}

.level-6 {
  background: #5ba829;
  border-color: #5ba829 !important;
}

.level-4 {
  background: #9acd32;
  border-color: #9acd32 !important;
}

.level-2 {
  background: #cdd614;
  border-color: #cdd614 !important;
}

.level-0 {
  background: #ffba00;
  border-color: #ffba00 !important;
}
.res_rating__image {
  position: absolute;
  right: 20%;
}

.res_review {
  margin-left: 19%;
}
